$scrollbar-size: 6px;
$scrollbar-ff-width: auto; // FF-only accepts auto, thin, none
$scrollbar-minlength: 50px; // Minimum length of scrollbar thumb
$scrollbar-track-color: transparent;
$scrollbar-color: rgba(68, 78, 96, 0.1);
$scrollbar-color-hover: rgba(68, 78, 96, 0.2);
$scrollbar-color-active: rgba(68, 78, 96, 0.2);

.tele-fancy-scrollbar {
    overscroll-behavior: contain;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: $scrollbar-ff-width;
    // Firefox has incorrect track color
    // scrollbar-color: $scrollbar-color $scrollbar-track-color;

    &::-webkit-scrollbar {
        height: $scrollbar-size;
        width: $scrollbar-size;
    }

    &::-webkit-scrollbar-corner {
       background: none;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(27, 31, 77, .3);
        border-radius: .03rem;
        height: 6px;
        width: 6px;
    }

    &::-webkit-scrollbar-thumb:vertical {
        min-height: $scrollbar-minlength;
    }

    &::-webkit-scrollbar-thumb:horizontal {
        min-width: $scrollbar-minlength;
    }
}
